<!--
    Copyright 2014-2017 Adrien 'Litarvan' Navratil

    This file is part of Lightslark.

    Lightslark is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Lightslark is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with Lightslark.  If not, see <http://www.gnu.org/licenses/>.
-->

<md-card>
    <h2>Whitelist</h2>

    <div class="whitelist-container">
        <div class="whitelist-header">
            <md-input-container floatPlaceholder="never">
                <input mdInput #filter placeholder="Rechercher">
            </md-input-container>
        </div>

        <md-table #table [dataSource]="data">
            <ng-container cdkColumnDef="name">
                <md-header-cell *cdkHeaderCellDef> Fichier </md-header-cell>
                <md-cell *cdkCellDef="let row">
                    <i class="fa type-icon fa-{{ row.type == 'glob' ? 'files-o' : row.type }}"></i> <span *ngIf="editing != row.id" class="file-tag" (click)="edit(row.id)">{{ row.name }}</span>
                    <md-input-container [class.hidden]="(editing != row.id)">
                        <input id="edit-{{ row.id }}" mdInput [(ngModel)]="row.name" autofocus>
                    </md-input-container>
                </md-cell>
            </ng-container>

            <ng-container cdkColumnDef="type">
                <md-header-cell *cdkHeaderCellDef> Type </md-header-cell>
                <md-cell *cdkCellDef="let row"> {{ row.type == 'file' ? 'Fichier' : (row.type == 'folder' ? 'Dossier' : 'Glob') }} </md-cell>
            </ng-container>

            <ng-container cdkColumnDef="action">
                <md-header-cell *cdkHeaderCellDef> Action </md-header-cell>
                <md-cell *cdkCellDef="let row">
                    <button md-tooltip="Supprimer" md-tooltip-position="below" class="action-button dark-ripple" (click)="remove(row)" md-ripple><i class="fa fa-trash"></i></button>
                </md-cell>
            </ng-container>

            <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
            <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
        </md-table>
    </div>
</md-card>