<div id="container">
    <div id="whitelist" class="collection with-header">
        <div class="collection-header"><h4>Whitelist</h4></div>

        <div id="list">
            <a *ngFor="let file of entries; let i = index" class="waves-effect collection-item" id="file-{{ id }}"
               (click)="deleteDialog(id, file.value)"><i
                    class="fa {{ file.type == 'folder' ? 'fa-folder' : (file.type == 'glob' ? 'fa-files-o' : 'fa-file') }}"></i>
                {{ file.value }}
            </a>
        </div>

        <div id="addModal" class="modal bottom-sheet">
            <div class="modal-content">
                <h4>Ajouter une entrée</h4>
                <input id="value" type="text" placeholder="Valeur"/>
            </div>
            <div class="modal-footer">
                <a id="a-trigger" class="modal-action waves-effect btn-flat" (click)="addEntry()">Ajouter</a>
                <a id="a-no" class="modal-action modal-close waves-effect btn-flat">Annuler</a>
            </div>
        </div>

        <div id="deleteModal" class="modal bottom-sheet">
            <div class="modal-content">
                <h4>Supprimer cette entrée</h4>
                <p>Voulez vous supprimer l'éntrée '<b id="file"></b>' de la Whitelist ?</p>
            </div>
            <div class="modal-footer">
                <a id="d-no" class="modal-action modal-close waves-effect btn-flat">Non</a>
                <a id="d-trigger" class="modal-action waves-effect btn-flat">Oui</a>
            </div>
        </div>

        <div id="helpModal" class="modal">
            <div class="modal-content">
                <h4>Aide</h4>

                <b>Cliquez</b> sur une entrée pour <b>la supprimer</b><br/><br/>

                Pour <b>ajouter une entrée</b> vous pouvez faire <b>entrée</b> sur la page.<br/>
                Vous pouvez aussi faire <b>entrée</b> dans les boîtes de dialogue pour <b>valider</b>, et <b>échap</b>
                pour <b>annuler</b>.<br/>
            </div>
            <div class="modal-footer">
                <a class="modal-action modal-close waves-effect btn-flat" (click)="helpClosed()">Pigé</a>
            </div>
        </div>
    </div>

    <a class="btn waves-effect waves-light" (click)="addDialog()">Ajouter une entrée</a>
</div>

<a class="btn-floating btn-large waves-effect waves-light" (click)="openHelp()"><i class="fa fa-question"></i></a>
<div id="buffer">
    <div class="preloader-wrapper active">
        <div class="spinner-layer">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>