<!--
    Copyright 2014-2017 Adrien 'Litarvan' Navratil and the Lightslark contributors

    This file is part of Lightslark
 *
    Lightslark is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Lightslark is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with Lightslark.  If not, see <http://www.gnu.org/licenses/>.
-->

<div id="left-block">
    <img id="logo" src="assets/images/logo-full.png" />

    <h3>Bienvenue sur Lightslark !</h3>

    <p>
        Ici se trouve le serveur de mise à jour de <b>{{ server }}</b>. <br/><br/>
        Ce serveur hébèrge les fichiers de {{ server }} et gère tout ce qui est en relation avec la mise à jour du programme.
        Cet espace est reservé aux administrateurs de {{ server }}, merci donc de vous connecter avec vos identifiants en utilisant le formulaire ci dessous.<br/><br />
        {{ server }} utilise <a href="https://github.com/slark-update/lightslark">Lightslark</a>, un système de mise à jour libre, simple, et léger.
    </p>
</div>

<div id="right-block">
    <mat-card id="login-block">
        <h3>Connexion</h3>

        <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
            <mat-input-container>
                <input matInput #email id="email" type="email" placeholder="E-Mail" [readOnly]="logging" formControlName="email">
                <mat-error *ngIf="loginForm.get('email').hasError('pattern')">
                    Veuillez entrer une addresse email valide
                </mat-error>
                <mat-error *ngIf="loginForm.get('email').hasError('required')">
                    Ce champ est <strong>obligatoire</strong>
                </mat-error>
            </mat-input-container>
            <mat-input-container>
                <input matInput #password id="password" type="password" placeholder="Mot de passe" [readOnly]="logging" formControlName="password">
                <mat-error *ngIf="loginForm.get('password').hasError('required')">
                    Ce champ est <strong>obligatoire</strong>
                </mat-error>
            </mat-input-container>

            <mat-checkbox [disabled]="logging" formControlName="remember">Se souvenir de moi</mat-checkbox>

            <button type="submit" *ngIf="!logging" mat-raised-button [disabled]="loginForm.invalid">Se connecter</button>
            <mat-progress-spinner id="logging" *ngIf="logging" mode="indeterminate"></mat-progress-spinner>
        </form>
    </mat-card>
</div>