/*
 * Copyright 2014-2017 Adrien 'Litarvan' Navratil
 *
 * This file is part of Lightslark.

 * Lightslark is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Lightslark is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with Lightslark.  If not, see <http://www.gnu.org/licenses/>.
 */

@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
    margin: 0;
    padding: 0;
    background: #141718;
}

#loading {
    width: 100%;
    text-align: center;
    color: white;
}

#loading-logo {
    margin-top: calc(50vh - 130px);
}

#loading-text {
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 300;
    font-size: 30px;
    margin-top: 15px;
}

/*.btn {
    background-color: #00c6e5 !important;
}

.btn:hover, .btn:focus, .tap-target, .btn-floating:hover {
    background-color: #00b6d5 !important;
}

input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]) {
    border-bottom: 1px solid #00c6e5 !important;
    box-shadow: 0 1px 0 0 #00c6e5 !important;
}

.spinner-layer {
    border-color: #00c6e5 !important;
}*/