<!--
    Copyright 2014-2017 Adrien 'Litarvan' Navratil and the Lightslark contributors

    This file is part of Lightslark
 *
    Lightslark is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Lightslark is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with Lightslark.  If not, see <http://www.gnu.org/licenses/>.
-->

<nav>
    <ul>
        <li id="nav-logo"><img src="assets/images/logo_empty.png"></li>

        <div *ngFor="let route of routes">
            <li *ngIf="!route.hasOwnProperty('auth') || (auth.logged ? route.auth : !route.auth)"
                [routerLink]="route.hasOwnProperty('path') ? route.path : ''"

                (click)="route.logout ? logout() : ''"

                class="clickable ripple" [class.right]="route.hasOwnProperty('right') && route.right"
                mat-ripple matTooltip="{{ route.name }}" mat-tooltip-position="below">

                <i class="fa fa-{{ route.icon }}"></i>
            </li>
        </div>
    </ul>
</nav>

<router-outlet></router-outlet>