/*
 * Copyright 2014-2017 Adrien 'Litarvan' Navratil and the Lightslark contributors
 *
 * This file is part of Lightslark
 *
 * Lightslark is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Lightslark is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with Lightslark.  If not, see <http://www.gnu.org/licenses/>.
 */

:host {
    color: white;
}

nav {
    width: 100%;
    height: 65px;
    background-color: #1b1e1f;
    box-shadow: 0 0 15px black;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    width: 22.5px;
    height: 22.5px;
    padding: 21.25px;

    text-align: center;
    float: left;

    outline: none;
}

.clickable {
    transition: background-color 125ms ease-in-out;
}

.clickable:hover {
    background-color: rgba(255, 255, 255, 0.05);
    cursor: pointer;
}

#nav-logo {
    background-color: #12aef5;

    width: 45px;
    height: 45px;
    padding: 11px 10px 9px;
}

#nav-logo img {
    width: 45px;
    height: 45px;

    display: block;
}

nav .fa {
    font-size: 22.5px;
}

.right {
    float: right !important;
}

.ripple {
    position: relative;
}