<nav>
    <ul>
        <li id="nav-logo"><img src="assets/images/logo_empty.png"></li>

        <div *ngFor="let route of routes">
            <li *ngIf="!route.hasOwnProperty('auth') || (auth.logged ? route.auth : !route.auth)"
                [routerLink]="route.hasOwnProperty('path') ? route.path : ''"

                class="clickable ripple" [class.right]="route.hasOwnProperty('right') && route.right"
                md-ripple md-tooltip="{{ route.name }}" md-tooltip-position="below">

                <i class="fa fa-{{ route.icon }}"></i>
            </li>
        </div>
    </ul>
</nav>

<router-outlet></router-outlet>